html body * {
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;

    background-color: rgba(245, 245, 245,0);
}

.blogWelcome { 
    margin: 30px 70px;
    color: black;
    justify-content: center;
    font-size: 2em;
    height: 220px;
}
.blogWelcome button {
    font-weight: bold;
    text-transform: uppercase;
    width:74px;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    font-size: 16px;
    
}

.blogWelcome button:hover {
    background-color: rgba(189, 114, 2, 0.973);
    color: white;
    border-color:rgb(230, 216, 24);
}
.blogWelcome h1 {
    text-align: center;
    padding-top: 50px;
}

.navigationBar {
    color: black;
    display: block;
    border-bottom: 1px solid black;
}

.navigationBar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:4px  0px ;
    
}

.navigationBar li {
    border-right: 1px solid black;
    padding-right: 130px;
    padding-left: 130px;
    list-style-type: none;
    font-size: 1.3em;

}
.navigationBar a { 
    text-decoration: none;
    color: black;
}

.navigationBar li:last-child {
    border-right: none;
}

.photo {
    height: 600px;
    background-image: url("backgrounds/blogPhoto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    border-top:2px solid rgb(240, 208, 30);
}
.music {
    display: flex;
    justify-content: space-between;
    padding: 50px 65px;
    background-image: url(backgrounds/cool-background2.png);
}

.response {
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: center;

}

input {
    width: 50px;
    border: none;
    background: none;
    color: whitesmoke;
    font-size: 30px;
    margin: 0 10px;
    pointer-events: none;
}

button {
    color: #fff;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 15px;
    margin: 10px 0;
    margin-left: 20px;
    cursor: pointer;

}

button:active {
    color: yellow;
    transform: scale(1.2);    
}

.music h1 {
    color: yellow;

}

.music a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.movies {
    background-image: url(backgrounds/bricks.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    font-size: 1.5em;
    margin:none;

}
.movies h1 {
  text-align: center;
}

.movies a{
  text-decoration: none;
  color:black
}
.mt-5 {
  width: 100%;
  margin-left:38%;
}
.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: rgb(43, 42, 42);
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}


.topics {
  margin: 0 auto;
  padding: 15px;
  text-transform: capitalize;
  border: none;
  outline: none;
  letter-spacing: none;
  background-color: darkgray;
  text-align: center;
}

.topicsContent {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.topicsContent article {
  width: 30%;
  border-right: 1px solid grey;
  text-align: justify;
  display: block;
  flex-direction: column;
  justify-content: center;
  padding-right:35px ;
}
.topicsContent article:last-child {
  border-right: none;
}

.topicsContent img {
  width: 300px;
  padding-left: 40px;

}
.topics .container {
  width: 700px;
  text-align: center;
  margin-top: 60px;
  margin: 0 auto;
  font-size: 1.3em;

}
.topics .intro {
  width: 60%
}
.container-buttons {
  display: flex;
  justify-content: left;
}

.box-container  {
  height: 200px;
  width: 100%;
  background:#444 ;
  box-shadow: 0 5px 15px #111;
  border-radius:5px ;
  padding: 15px;
  display: none;
}

.box-container .box {
  height: 80%;
  width: 100%; 
  border-radius: 5px;
  padding: 1px;
  background-color: #f8f8f8;
  overflow-y:auto;
  text-align: left;
}

.topics #input {
  width: 100%;
  height:40px ;
  background:none;
  font-size: 15px;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.topics #topic {
  width: 100%;
  height:40px ;
  background:none;
  font-size: 15px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.topics #input:focus {
  border-bottom: 2px solid #fff;
}

.topics button {
  height: 30px;
  width: 160px;
  background-color: #ff0033;
  color: #fff;
  cursor: pointer;
  margin: 10px 0;
  font-size:15px;
  box-shadow: 0 3px 10px #111;
}

.topics button:hover {
  opacity: .8;
}

footer{
  background-color: whitesmoke;
  height: 100px;
  text-align: center;
 
}

footer a{
  text-decoration: none;
  color: black;
}